.pricelist {

    &__top {
        font-weight: 600;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: -3%;
        text-align: center;
        text-transform: uppercase;
    }

    &__title {
        font-weight: 400;
        font-size: 80px;
        line-height: 140%;
        letter-spacing: 1%;
        text-transform: uppercase;
        text-align: center;
    }

    &__span1 {
        background-color: #C3FF44;
        font-weight: 900;
        color: #063835;
        transform: skew(-15deg);
        display: inline-block;
    }
}