.trainers {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__top {
        font-weight: 600;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: -3%;
        text-align: center;
        text-transform: uppercase;
    }

    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 80px;
        line-height: 140%;
        letter-spacing: 1%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 70px;
        color: #0C2E68;
    }

    &__span1 {
        background-color: #C3FF44;
        font-weight: 900;
        color: #141E2F;
        transform: skew(-15deg);
        display: inline-block;
    }

    &__title3 {
        font-size: 50px;
        color: #fff;
        font-weight: 400;
        text-align: center;
    }

    &__text3 {
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        color: #fff;
        margin-bottom: 15px;
    }

    &__star {
        margin-bottom: 80px;
    }

    &__slider img {
        height: 700px !important;
    }

    &__slider {
        width: 80% !important;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    .trainers {
        &__title {
            font-size: 60px;
        }

        &__slider {
            width: 100% !important;

            img {
                max-height: 500px !important;
            }
        }
    }
}